<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pustaka</title>
    <link href="./src/output.css" rel="stylesheet">
</head>

<body class="bg-black text-white w-full h-full">
    <div>
        <div
            class="flex justify-between px-2 font-action font-bold text-lg items-center py-3 shadow-sm shadow-orange-950">
            <h1 class="text-2xl text-orange-400 md:text-3xl">KOMIKAPK</h1>
            <div class="flex gap-5">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                    class="bi bi-arrow-clockwise cursor-pointer hover:opacity-70" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z" />
                    <path
                        d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                    class="bi bi-info-circle cursor-pointer hover:opacity-70" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                    <path
                        d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
                </svg>
            </div>
        </div> -->
<div class="w-full mt-10 font-action text-center px-1">
    <div>
        <h1 class="text-2xl font-bold">PUSTAKA KOMIK</h1>
        <P>SEMUA HALAMAN 1</P>
    </div>
    <div
        class="mt-5 flex justify-around mx-auto font-bold w-max rounded-lg overflow-hidden text-orange-500 items-center">
        <h3 class="type bg-orange-500 text-black cursor-pointer px-4 py-1.5">SEMUA</h3>
        <h3 class="type cursor-pointer px-4 py-1.5">MANGA</h3>
        <h3 class="type cursor-pointer px-4 py-1.5">MANHWA</h3>
        <h3 class="type cursor-pointer px-4 py-1.5">MANHUA</h3>
    </div>
    <div class="flex justify-between w-1/2 text-slate-400 mx-auto bg-slate-400/10 mt-3 items-center rounded-lg">
        <h3 class="genre bg-purple-500 text-white cursor-pointer rounded-l-lg py-1.5 px-3 w-full">Semua</h3>
        <h3 class="genre cursor-pointer w-full py-1.5 px-3 hover:opacity-70 text-slate-400">Adult</h3>
        <h3 class="genre cursor-pointer w-full py-1.5 px-3 hover:opacity-70 text-slate-400">:</h3>
    </div>
    <div class="flex justify-between w-1/2 mx-auto mt-5 font-bold items-center">
        <h1 class="mode hover:opacity-70 cursor-pointer">MODE 10+</h1>
        <h1 class="flex gap-2 items-center hover:opacity-70 cursor-pointer">Tampilan <svg
                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-fullscreen"
                viewBox="0 0 16 16">
                <path
                    d="M1.5 1a.5.5 0 0 0-.5.5v4a.5.5 0 0 1-1 0v-4A1.5 1.5 0 0 1 1.5 0h4a.5.5 0 0 1 0 1zM10 .5a.5.5 0 0 1 .5-.5h4A1.5 1.5 0 0 1 16 1.5v4a.5.5 0 0 1-1 0v-4a.5.5 0 0 0-.5-.5h-4a.5.5 0 0 1-.5-.5M.5 10a.5.5 0 0 1 .5.5v4a.5.5 0 0 0 .5.5h4a.5.5 0 0 1 0 1h-4A1.5 1.5 0 0 1 0 14.5v-4a.5.5 0 0 1 .5-.5m15 0a.5.5 0 0 1 .5.5v4a1.5 1.5 0 0 1-1.5 1.5h-4a.5.5 0 0 1 0-1h4a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 1 .5-.5" />
            </svg></h1>
    </div>
</div>
<div class="grid grid-cols-2 md:grid-cols-4 md:px-5 xl:grid-cols-6 px-1.5 gap-3 py-8">
    <div class="w-full bg-amber-400/10 md:h-80 pb-10 overflow-hidden h-72 rounded-lg">
        <div style="background-image: url('./../onepiece.webp');"
            class="bg-cover hover:opacity-70 hover:scale-105 relative bg-no-repeat bg-center h-full italic cursor-pointer font-bold w-full z-10">
            <p
                class="absolute top-0 left-0 md:text-xl md:py-1 md:px-2.5 rounded-br-xl bg-black font-action text-md py-0.5 px-1 text-center text-orange-400">
                CH. 60
            </p>
            <p
                class="absolute top-0 right-0 bg-amber-950 py-0.5 px-2 md:px-3 md:py-1 md:text-lg rounded-bl-xl text-slate-100">
                Manga
            </p>
        </div>
        <h1 class="w-full text-center py-2.5 font-medium bg-opacity-70 text-sm text-slate-100">
            judul</h1>
    </div>
    <div class="w-full bg-amber-400/10 md:h-80 pb-10 overflow-hidden h-72 rounded-lg">
        <div style="background-image: url('./../onepiece.webp');"
            class="bg-cover hover:opacity-70 hover:scale-105 relative bg-no-repeat bg-center h-full italic cursor-pointer font-bold w-full z-10">
            <p
                class="absolute top-0 left-0 md:text-xl md:py-1 md:px-2.5 rounded-br-xl bg-black font-action text-md py-0.5 px-1 text-center text-orange-400">
                CH. 60
            </p>
            <p
                class="absolute top-0 right-0 bg-amber-950 py-0.5 px-2 md:px-3 md:py-1 md:text-lg rounded-bl-xl text-slate-100">
                Manga
            </p>
        </div>
        <h1 class="w-full text-center py-2.5 font-medium bg-opacity-70 text-sm text-slate-100">
            judul</h1>
    </div>
    <div class="w-full bg-amber-400/10 md:h-80 pb-10 overflow-hidden h-72 rounded-lg">
        <div style="background-image: url('./../onepiece.webp');"
            class="bg-cover hover:opacity-70 hover:scale-105 relative bg-no-repeat bg-center h-full italic cursor-pointer font-bold w-full z-10">
            <p
                class="absolute top-0 left-0 md:text-xl md:py-1 md:px-2.5 rounded-br-xl bg-black font-action text-md py-0.5 px-1 text-center text-orange-400">
                CH. 60
            </p>
            <p
                class="absolute top-0 right-0 bg-amber-950 py-0.5 px-2 md:px-3 md:py-1 md:text-lg rounded-bl-xl text-slate-100">
                Manga
            </p>
        </div>
        <h1 class="w-full text-center py-2.5 font-medium bg-opacity-70 text-sm text-slate-100">
            judul</h1>
    </div>
    <div class="w-full bg-amber-400/10 md:h-80 pb-10 overflow-hidden h-72 rounded-lg">
        <div style="background-image: url('./../onepiece.webp');"
            class="bg-cover hover:opacity-70 hover:scale-105 relative bg-no-repeat bg-center h-full italic cursor-pointer font-bold w-full z-10">
            <p
                class="absolute top-0 left-0 md:text-xl md:py-1 md:px-2.5 rounded-br-xl bg-black font-action text-md py-0.5 px-1 text-center text-orange-400">
                CH. 60
            </p>
            <p
                class="absolute top-0 right-0 bg-amber-950 py-0.5 px-2 md:px-3 md:py-1 md:text-lg rounded-bl-xl text-slate-100">
                Manga
            </p>
        </div>
        <h1 class="w-full text-center py-2.5 font-medium bg-opacity-70 text-sm text-slate-100">
            judul</h1>
    </div>
    <div class="w-full bg-amber-400/10 md:h-80 pb-10 overflow-hidden h-72 rounded-lg">
        <div style="background-image: url('./../onepiece.webp');"
            class="bg-cover hover:opacity-70 hover:scale-105 relative bg-no-repeat bg-center h-full italic cursor-pointer font-bold w-full z-10">
            <p
                class="absolute top-0 left-0 md:text-xl md:py-1 md:px-2.5 rounded-br-xl bg-black font-action text-md py-0.5 px-1 text-center text-orange-400">
                CH. 60
            </p>
            <p
                class="absolute top-0 right-0 bg-amber-950 py-0.5 px-2 md:px-3 md:py-1 md:text-lg rounded-bl-xl text-slate-100">
                Manga
            </p>
        </div>
        <h1 class="w-full text-center py-2.5 font-medium bg-opacity-70 text-sm text-slate-100">
            judul</h1>
    </div>
    <div class="w-full bg-amber-400/10 md:h-80 pb-10 overflow-hidden h-72 rounded-lg">
        <div style="background-image: url('./../onepiece.webp');"
            class="bg-cover hover:opacity-70 hover:scale-105 relative bg-no-repeat bg-center h-full italic cursor-pointer font-bold w-full z-10">
            <p
                class="absolute top-0 left-0 md:text-xl md:py-1 md:px-2.5 rounded-br-xl bg-black font-action text-md py-0.5 px-1 text-center text-orange-400">
                CH. 60
            </p>
            <p
                class="absolute top-0 right-0 bg-amber-950 py-0.5 px-2 md:px-3 md:py-1 md:text-lg rounded-bl-xl text-slate-100">
                Manga
            </p>
        </div>
        <h1 class="w-full text-center py-2.5 font-medium bg-opacity-70 text-sm text-slate-100">
            judul</h1>
    </div>
    <div class="w-full bg-amber-400/10 md:h-80 pb-10 overflow-hidden h-72 rounded-lg">
        <div style="background-image: url('./../onepiece.webp');"
            class="bg-cover hover:opacity-70 hover:scale-105 relative bg-no-repeat bg-center h-full italic cursor-pointer font-bold w-full z-10">
            <p
                class="absolute top-0 left-0 md:text-xl md:py-1 md:px-2.5 rounded-br-xl bg-black font-action text-md py-0.5 px-1 text-center text-orange-400">
                CH. 60
            </p>
            <p
                class="absolute top-0 right-0 bg-amber-950 py-0.5 px-2 md:px-3 md:py-1 md:text-lg rounded-bl-xl text-slate-100">
                Manga
            </p>
        </div>
        <h1 class="w-full text-center py-2.5 font-medium bg-opacity-70 text-sm text-slate-100">
            judul</h1>
    </div>
    <div class="w-full bg-amber-400/10 md:h-80 pb-10 overflow-hidden h-72 rounded-lg">
        <div style="background-image: url('./../onepiece.webp');"
            class="bg-cover hover:opacity-70 hover:scale-105 relative bg-no-repeat bg-center h-full italic cursor-pointer font-bold w-full z-10">
            <p
                class="absolute top-0 left-0 md:text-xl md:py-1 md:px-2.5 rounded-br-xl bg-black font-action text-md py-0.5 px-1 text-center text-orange-400">
                CH. 60
            </p>
            <p
                class="absolute top-0 right-0 bg-amber-950 py-0.5 px-2 md:px-3 md:py-1 md:text-lg rounded-bl-xl text-slate-100">
                Manga
            </p>
        </div>
        <h1 class="w-full text-center py-2.5 font-medium bg-opacity-70 text-sm text-slate-100">
            judul</h1>
    </div>
    <div class="w-full bg-amber-400/10 md:h-80 pb-10 overflow-hidden h-72 rounded-lg">
        <div style="background-image: url('./../onepiece.webp');"
            class="bg-cover hover:opacity-70 hover:scale-105 relative bg-no-repeat bg-center h-full italic cursor-pointer font-bold w-full z-10">
            <p
                class="absolute top-0 left-0 md:text-xl md:py-1 md:px-2.5 rounded-br-xl bg-black font-action text-md py-0.5 px-1 text-center text-orange-400">
                CH. 60
            </p>
            <p
                class="absolute top-0 right-0 bg-amber-950 py-0.5 px-2 md:px-3 md:py-1 md:text-lg rounded-bl-xl text-slate-100">
                Manga
            </p>
        </div>
        <h1 class="w-full text-center py-2.5 font-medium bg-opacity-70 text-sm text-slate-100">
            judul</h1>
    </div>
    <div class="w-full bg-amber-400/10 md:h-80 pb-10 overflow-hidden h-72 rounded-lg">
        <div style="background-image: url('./../onepiece.webp');"
            class="bg-cover hover:opacity-70 hover:scale-105 relative bg-no-repeat bg-center h-full italic cursor-pointer font-bold w-full z-10">
            <p
                class="absolute top-0 left-0 md:text-xl md:py-1 md:px-2.5 rounded-br-xl bg-black font-action text-md py-0.5 px-1 text-center text-orange-400">
                CH. 60
            </p>
            <p
                class="absolute top-0 right-0 bg-amber-950 py-0.5 px-2 md:px-3 md:py-1 md:text-lg rounded-bl-xl text-slate-100">
                Manga
            </p>
        </div>
        <h1 class="w-full text-center py-2.5 font-medium bg-opacity-70 text-sm text-slate-100">
            judul</h1>
    </div>
</div>
<div class="w-full flex items-center mb-10 text-slate-400">
    <hr class="w-full">
    <h1 class="w-full font-action text-center">Halaman 1 / 256</h1>
    <hr class="w-full">
</div>
<div class="font-action w-max italic items-center flex mx-auto border rounded-lg justify-center mb-20 gap-5">
    <h1 class="bg-black px-5 text-lg font-lobster">1</h1>
    <h1 class="bg-slate-50/10 px-5 py-2 cursor-pointer hover:opacity-70 border-l-2 border-l-slate-400">TO PAGE
    </h1>
</div>
<script>
    const genres = document.querySelectorAll('.genre');
    const types = document.querySelectorAll('.type');
    const mode = document.querySelector('.mode');
    mode.addEventListener('click', () => {
        if (mode.textContent === 'MODE 10+') {
            mode.textContent = 'MODE 18+';
            mode.classList.add('text-red-500');
            mode.classList.remove('hover:opacity-70');
        } else {
            mode.textContent = 'MODE 10+';
            mode.classList.remove('text-red-500');
            mode.classList.add('hover:opacity-70');
        }
    });
    genres.forEach(genre => {
        genre.addEventListener('click', () => {
            genres.forEach(g => {
                g.classList.remove('bg-purple-500', 'text-white');
                g.classList.add('hover:opacity-70', 'text-slate-400');
            });
            genre.classList.add('bg-purple-500', 'text-white');
            genre.classList.remove('hover:opacity-70', 'text-slate-400');
        });
    });
    types.forEach(type => {
        type.addEventListener('click', () => {
            types.forEach(t => {
                t.classList.remove('bg-orange-500', 'text-black');
                t.classList.add('hover:opacity-70', 'text-orange-500');
            });
            type.classList.add('bg-orange-500', 'text-black');
            type.classList.remove('hover:opacity-70', 'text-orange-500');
        });
    });
</script>
<!-- </div>
</body>

</html> -->