<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>trending</title>
    <link href="./src/output.css" rel="stylesheet">
</head>

<body class="bg-black text-white w-full h-full">
    <div>
        <div
            class="flex justify-between px-2 font-action font-bold text-lg items-center py-3 shadow-sm shadow-orange-950">
            <h1 class="text-2xl text-orange-400 md:text-3xl">KOMIKAPK</h1>
            <div class="flex gap-5">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                    class="bi bi-arrow-clockwise cursor-pointer hover:opacity-70" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z" />
                    <path
                        d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                    class="bi bi-info-circle cursor-pointer hover:opacity-70" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                    <path
                        d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
                </svg>
            </div>
        </div> -->
<div class="font-action mt-10 text-center">
    <h1 class="text-xl md:text-2xl">TRENDING KOMIK</h1>
    <div class="flex font-bold mt-5 rounded-lg overflow-hidden w-max mx-auto">
        <h1 class="bg-orange-400 text-black trending px-4 py-2 cursor-pointer">JAM</h1>
        <h1 class="bg-slate-50/10 text-white trending px-4 py-2 cursor-pointer hover:opacity-70">HARI</h1>
        <h1 class="bg-slate-50/10 text-white trending px-4 py-2 cursor-pointer hover:opacity-70">MINGGU</h1>
    </div>
    <h1 class="text-lg mt-5 hover:opacity-70 cursor-pointer font-bold mode1">MODE 10+</h1>
</div>
<div class="grid grid-cols-2 md:grid-cols-4 md:px-5 xl:grid-cols-6 px-1.5 gap-3 py-8">
    <div class="w-full bg-amber-400/10 md:h-80 pb-10 overflow-hidden h-72 rounded-lg">
        <div style="background-image: url('./../onepiece.webp');"
            class="bg-cover hover:opacity-70 hover:scale-105 relative bg-no-repeat bg-center h-full italic cursor-pointer font-bold w-full z-10">
            <p
                class="absolute top-0 left-0 md:text-xl md:py-1 md:px-2.5 rounded-br-xl bg-black font-action text-md py-0.5 px-1 text-center text-orange-400">
                CH. 60
            </p>
            <p
                class="absolute top-0 right-0 bg-amber-950 py-0.5 px-2 md:px-3 md:py-1 md:text-lg rounded-bl-xl text-slate-100">
                Manga
            </p>
        </div>
        <h1 class="w-full text-center py-2.5 font-medium bg-opacity-70 text-sm text-slate-100">
            judul</h1>
    </div>
    <div class="w-full bg-amber-400/10 md:h-80 pb-10 overflow-hidden h-72 rounded-lg">
        <div style="background-image: url('./../onepiece.webp');"
            class="bg-cover hover:opacity-70 hover:scale-105 relative bg-no-repeat bg-center h-full italic cursor-pointer font-bold w-full z-10">
            <p
                class="absolute top-0 left-0 md:text-xl md:py-1 md:px-2.5 rounded-br-xl bg-black font-action text-md py-0.5 px-1 text-center text-orange-400">
                CH. 60
            </p>
            <p
                class="absolute top-0 right-0 bg-amber-950 py-0.5 px-2 md:px-3 md:py-1 md:text-lg rounded-bl-xl text-slate-100">
                Manga
            </p>
        </div>
        <h1 class="w-full text-center py-2.5 font-medium bg-opacity-70 text-sm text-slate-100">
            judul</h1>
    </div>
    <div class="w-full bg-amber-400/10 md:h-80 pb-10 overflow-hidden h-72 rounded-lg">
        <div style="background-image: url('./../onepiece.webp');"
            class="bg-cover hover:opacity-70 hover:scale-105 relative bg-no-repeat bg-center h-full italic cursor-pointer font-bold w-full z-10">
            <p
                class="absolute top-0 left-0 md:text-xl md:py-1 md:px-2.5 rounded-br-xl bg-black font-action text-md py-0.5 px-1 text-center text-orange-400">
                CH. 60
            </p>
            <p
                class="absolute top-0 right-0 bg-amber-950 py-0.5 px-2 md:px-3 md:py-1 md:text-lg rounded-bl-xl text-slate-100">
                Manga
            </p>
        </div>
        <h1 class="w-full text-center py-2.5 font-medium bg-opacity-70 text-sm text-slate-100">
            judul</h1>
    </div>
    <div class="w-full bg-amber-400/10 md:h-80 pb-10 overflow-hidden h-72 rounded-lg">
        <div style="background-image: url('./../onepiece.webp');"
            class="bg-cover hover:opacity-70 hover:scale-105 relative bg-no-repeat bg-center h-full italic cursor-pointer font-bold w-full z-10">
            <p
                class="absolute top-0 left-0 md:text-xl md:py-1 md:px-2.5 rounded-br-xl bg-black font-action text-md py-0.5 px-1 text-center text-orange-400">
                CH. 60
            </p>
            <p
                class="absolute top-0 right-0 bg-amber-950 py-0.5 px-2 md:px-3 md:py-1 md:text-lg rounded-bl-xl text-slate-100">
                Manga
            </p>
        </div>
        <h1 class="w-full text-center py-2.5 font-medium bg-opacity-70 text-sm text-slate-100">
            judul</h1>
    </div>
    <div class="w-full bg-amber-400/10 md:h-80 pb-10 overflow-hidden h-72 rounded-lg">
        <div style="background-image: url('./../onepiece.webp');"
            class="bg-cover hover:opacity-70 hover:scale-105 relative bg-no-repeat bg-center h-full italic cursor-pointer font-bold w-full z-10">
            <p
                class="absolute top-0 left-0 md:text-xl md:py-1 md:px-2.5 rounded-br-xl bg-black font-action text-md py-0.5 px-1 text-center text-orange-400">
                CH. 60
            </p>
            <p
                class="absolute top-0 right-0 bg-amber-950 py-0.5 px-2 md:px-3 md:py-1 md:text-lg rounded-bl-xl text-slate-100">
                Manga
            </p>
        </div>
        <h1 class="w-full text-center py-2.5 font-medium bg-opacity-70 text-sm text-slate-100">
            judul</h1>
    </div>
    <div class="w-full bg-amber-400/10 md:h-80 pb-10 overflow-hidden h-72 rounded-lg">
        <div style="background-image: url('./../onepiece.webp');"
            class="bg-cover hover:opacity-70 hover:scale-105 relative bg-no-repeat bg-center h-full italic cursor-pointer font-bold w-full z-10">
            <p
                class="absolute top-0 left-0 md:text-xl md:py-1 md:px-2.5 rounded-br-xl bg-black font-action text-md py-0.5 px-1 text-center text-orange-400">
                CH. 60
            </p>
            <p
                class="absolute top-0 right-0 bg-amber-950 py-0.5 px-2 md:px-3 md:py-1 md:text-lg rounded-bl-xl text-slate-100">
                Manga
            </p>
        </div>
        <h1 class="w-full text-center py-2.5 font-medium bg-opacity-70 text-sm text-slate-100">
            judul</h1>
    </div>
    <div class="w-full bg-amber-400/10 md:h-80 pb-10 overflow-hidden h-72 rounded-lg">
        <div style="background-image: url('./../onepiece.webp');"
            class="bg-cover hover:opacity-70 hover:scale-105 relative bg-no-repeat bg-center h-full italic cursor-pointer font-bold w-full z-10">
            <p
                class="absolute top-0 left-0 md:text-xl md:py-1 md:px-2.5 rounded-br-xl bg-black font-action text-md py-0.5 px-1 text-center text-orange-400">
                CH. 60
            </p>
            <p
                class="absolute top-0 right-0 bg-amber-950 py-0.5 px-2 md:px-3 md:py-1 md:text-lg rounded-bl-xl text-slate-100">
                Manga
            </p>
        </div>
        <h1 class="w-full text-center py-2.5 font-medium bg-opacity-70 text-sm text-slate-100">
            judul</h1>
    </div>
    <div class="w-full bg-amber-400/10 md:h-80 pb-10 overflow-hidden h-72 rounded-lg">
        <div style="background-image: url('./../onepiece.webp');"
            class="bg-cover hover:opacity-70 hover:scale-105 relative bg-no-repeat bg-center h-full italic cursor-pointer font-bold w-full z-10">
            <p
                class="absolute top-0 left-0 md:text-xl md:py-1 md:px-2.5 rounded-br-xl bg-black font-action text-md py-0.5 px-1 text-center text-orange-400">
                CH. 60
            </p>
            <p
                class="absolute top-0 right-0 bg-amber-950 py-0.5 px-2 md:px-3 md:py-1 md:text-lg rounded-bl-xl text-slate-100">
                Manga
            </p>
        </div>
        <h1 class="w-full text-center py-2.5 font-medium bg-opacity-70 text-sm text-slate-100">
            judul</h1>
    </div>
    <div class="w-full bg-amber-400/10 md:h-80 pb-10 overflow-hidden h-72 rounded-lg">
        <div style="background-image: url('./../onepiece.webp');"
            class="bg-cover hover:opacity-70 hover:scale-105 relative bg-no-repeat bg-center h-full italic cursor-pointer font-bold w-full z-10">
            <p
                class="absolute top-0 left-0 md:text-xl md:py-1 md:px-2.5 rounded-br-xl bg-black font-action text-md py-0.5 px-1 text-center text-orange-400">
                CH. 60
            </p>
            <p
                class="absolute top-0 right-0 bg-amber-950 py-0.5 px-2 md:px-3 md:py-1 md:text-lg rounded-bl-xl text-slate-100">
                Manga
            </p>
        </div>
        <h1 class="w-full text-center py-2.5 font-medium bg-opacity-70 text-sm text-slate-100">
            judul</h1>
    </div>
    <div class="w-full bg-amber-400/10 md:h-80 pb-10 overflow-hidden h-72 rounded-lg">
        <div style="background-image: url('./../onepiece.webp');"
            class="bg-cover hover:opacity-70 hover:scale-105 relative bg-no-repeat bg-center h-full italic cursor-pointer font-bold w-full z-10">
            <p
                class="absolute top-0 left-0 md:text-xl md:py-1 md:px-2.5 rounded-br-xl bg-black font-action text-md py-0.5 px-1 text-center text-orange-400">
                CH. 60
            </p>
            <p
                class="absolute top-0 right-0 bg-amber-950 py-0.5 px-2 md:px-3 md:py-1 md:text-lg rounded-bl-xl text-slate-100">
                Manga
            </p>
        </div>
        <h1 class="w-full text-center py-2.5 font-medium bg-opacity-70 text-sm text-slate-100">
            judul</h1>
    </div>
    <div class="w-full bg-amber-400/10 md:h-80 pb-10 overflow-hidden h-72 rounded-lg">
        <div style="background-image: url('./../onepiece.webp');"
            class="bg-cover hover:opacity-70 hover:scale-105 relative bg-no-repeat bg-center h-full italic cursor-pointer font-bold w-full z-10">
            <p
                class="absolute top-0 left-0 md:text-xl md:py-1 md:px-2.5 rounded-br-xl bg-black font-action text-md py-0.5 px-1 text-center text-orange-400">
                CH. 60
            </p>
            <p
                class="absolute top-0 right-0 bg-amber-950 py-0.5 px-2 md:px-3 md:py-1 md:text-lg rounded-bl-xl text-slate-100">
                Manga
            </p>
        </div>
        <h1 class="w-full text-center py-2.5 font-medium bg-opacity-70 text-sm text-slate-100">
            judul</h1>
    </div>
    <div class="w-full bg-amber-400/10 md:h-80 pb-10 overflow-hidden h-72 rounded-lg">
        <div style="background-image: url('./../onepiece.webp');"
            class="bg-cover hover:opacity-70 hover:scale-105 relative bg-no-repeat bg-center h-full italic cursor-pointer font-bold w-full z-10">
            <p
                class="absolute top-0 left-0 md:text-xl md:py-1 md:px-2.5 rounded-br-xl bg-black font-action text-md py-0.5 px-1 text-center text-orange-400">
                CH. 60
            </p>
            <p
                class="absolute top-0 right-0 bg-amber-950 py-0.5 px-2 md:px-3 md:py-1 md:text-lg rounded-bl-xl text-slate-100">
                Manga
            </p>
        </div>
        <h1 class="w-full text-center py-2.5 font-medium bg-opacity-70 text-sm text-slate-100">
            judul</h1>
    </div>
    <div class="w-full bg-amber-400/10 md:h-80 pb-10 overflow-hidden h-72 rounded-lg">
        <div style="background-image: url('./../onepiece.webp');"
            class="bg-cover hover:opacity-70 hover:scale-105 relative bg-no-repeat bg-center h-full italic cursor-pointer font-bold w-full z-10">
            <p
                class="absolute top-0 left-0 md:text-xl md:py-1 md:px-2.5 rounded-br-xl bg-black font-action text-md py-0.5 px-1 text-center text-orange-400">
                CH. 60
            </p>
            <p
                class="absolute top-0 right-0 bg-amber-950 py-0.5 px-2 md:px-3 md:py-1 md:text-lg rounded-bl-xl text-slate-100">
                Manga
            </p>
        </div>
        <h1 class="w-full text-center py-2.5 font-medium bg-opacity-70 text-sm text-slate-100">
            judul</h1>
    </div>
    <div class="w-full bg-amber-400/10 md:h-80 pb-10 overflow-hidden h-72 rounded-lg">
        <div style="background-image: url('./../onepiece.webp');"
            class="bg-cover hover:opacity-70 hover:scale-105 relative bg-no-repeat bg-center h-full italic cursor-pointer font-bold w-full z-10">
            <p
                class="absolute top-0 left-0 md:text-xl md:py-1 md:px-2.5 rounded-br-xl bg-black font-action text-md py-0.5 px-1 text-center text-orange-400">
                CH. 60
            </p>
            <p
                class="absolute top-0 right-0 bg-amber-950 py-0.5 px-2 md:px-3 md:py-1 md:text-lg rounded-bl-xl text-slate-100">
                Manga
            </p>
        </div>
        <h1 class="w-full text-center py-2.5 font-medium bg-opacity-70 text-sm text-slate-100">
            judul</h1>
    </div>
    <div class="w-full bg-amber-400/10 md:h-80 pb-10 overflow-hidden h-72 rounded-lg">
        <div style="background-image: url('./../onepiece.webp');"
            class="bg-cover hover:opacity-70 hover:scale-105 relative bg-no-repeat bg-center h-full italic cursor-pointer font-bold w-full z-10">
            <p
                class="absolute top-0 left-0 md:text-xl md:py-1 md:px-2.5 rounded-br-xl bg-black font-action text-md py-0.5 px-1 text-center text-orange-400">
                CH. 60
            </p>
            <p
                class="absolute top-0 right-0 bg-amber-950 py-0.5 px-2 md:px-3 md:py-1 md:text-lg rounded-bl-xl text-slate-100">
                Manga
            </p>
        </div>
        <h1 class="w-full text-center py-2.5 font-medium bg-opacity-70 text-sm text-slate-100">
            judul</h1>
    </div>
    <div class="w-full bg-amber-400/10 md:h-80 pb-10 overflow-hidden h-72 rounded-lg">
        <div style="background-image: url('./../onepiece.webp');"
            class="bg-cover hover:opacity-70 hover:scale-105 relative bg-no-repeat bg-center h-full italic cursor-pointer font-bold w-full z-10">
            <p
                class="absolute top-0 left-0 md:text-xl md:py-1 md:px-2.5 rounded-br-xl bg-black font-action text-md py-0.5 px-1 text-center text-orange-400">
                CH. 60
            </p>
            <p
                class="absolute top-0 right-0 bg-amber-950 py-0.5 px-2 md:px-3 md:py-1 md:text-lg rounded-bl-xl text-slate-100">
                Manga
            </p>
        </div>
        <h1 class="w-full text-center py-2.5 font-medium bg-opacity-70 text-sm text-slate-100">
            judul</h1>
    </div>
    <div class="w-full bg-amber-400/10 md:h-80 pb-10 overflow-hidden h-72 rounded-lg">
        <div style="background-image: url('./../onepiece.webp');"
            class="bg-cover hover:opacity-70 hover:scale-105 relative bg-no-repeat bg-center h-full italic cursor-pointer font-bold w-full z-10">
            <p
                class="absolute top-0 left-0 md:text-xl md:py-1 md:px-2.5 rounded-br-xl bg-black font-action text-md py-0.5 px-1 text-center text-orange-400">
                CH. 60
            </p>
            <p
                class="absolute top-0 right-0 bg-amber-950 py-0.5 px-2 md:px-3 md:py-1 md:text-lg rounded-bl-xl text-slate-100">
                Manga
            </p>
        </div>
        <h1 class="w-full text-center py-2.5 font-medium bg-opacity-70 text-sm text-slate-100">
            judul</h1>
    </div>
    <div class="w-full bg-amber-400/10 md:h-80 pb-10 overflow-hidden h-72 rounded-lg">
        <div style="background-image: url('./../onepiece.webp');"
            class="bg-cover hover:opacity-70 hover:scale-105 relative bg-no-repeat bg-center h-full italic cursor-pointer font-bold w-full z-10">
            <p
                class="absolute top-0 left-0 md:text-xl md:py-1 md:px-2.5 rounded-br-xl bg-black font-action text-md py-0.5 px-1 text-center text-orange-400">
                CH. 60
            </p>
            <p
                class="absolute top-0 right-0 bg-amber-950 py-0.5 px-2 md:px-3 md:py-1 md:text-lg rounded-bl-xl text-slate-100">
                Manga
            </p>
        </div>
        <h1 class="w-full text-center py-2.5 font-medium bg-opacity-70 text-sm text-slate-100">
            judul</h1>
    </div>
    <div class="w-full bg-amber-400/10 md:h-80 pb-10 overflow-hidden h-72 rounded-lg">
        <div style="background-image: url('./../onepiece.webp');"
            class="bg-cover hover:opacity-70 hover:scale-105 relative bg-no-repeat bg-center h-full italic cursor-pointer font-bold w-full z-10">
            <p
                class="absolute top-0 left-0 md:text-xl md:py-1 md:px-2.5 rounded-br-xl bg-black font-action text-md py-0.5 px-1 text-center text-orange-400">
                CH. 60
            </p>
            <p
                class="absolute top-0 right-0 bg-amber-950 py-0.5 px-2 md:px-3 md:py-1 md:text-lg rounded-bl-xl text-slate-100">
                Manga
            </p>
        </div>
        <h1 class="w-full text-center py-2.5 font-medium bg-opacity-70 text-sm text-slate-100">
            judul</h1>
    </div>
    <div class="w-full bg-amber-400/10 md:h-80 pb-10 overflow-hidden h-72 rounded-lg">
        <div style="background-image: url('./../onepiece.webp');"
            class="bg-cover hover:opacity-70 hover:scale-105 relative bg-no-repeat bg-center h-full italic cursor-pointer font-bold w-full z-10">
            <p
                class="absolute top-0 left-0 md:text-xl md:py-1 md:px-2.5 rounded-br-xl bg-black font-action text-md py-0.5 px-1 text-center text-orange-400">
                CH. 60
            </p>
            <p
                class="absolute top-0 right-0 bg-amber-950 py-0.5 px-2 md:px-3 md:py-1 md:text-lg rounded-bl-xl text-slate-100">
                Manga
            </p>
        </div>
        <h1 class="w-full text-center py-2.5 font-medium bg-opacity-70 text-sm text-slate-100">
            judul</h1>
    </div>
</div>
<script>
    const trending = document.querySelectorAll('.trending')
    const mode1 = document.querySelector('.mode1')
    mode1.addEventListener('click', () => {
        if (mode1.innerHTML === 'MODE 10+') {
            mode1.innerHTML = 'MODE 18+'
            mode1.classList.add('text-red-500')
            mode1.classList.remove('hover:opacity-70')
        } else {
            mode1.innerHTML = 'MODE 10+'
            mode1.classList.remove('text-red-500')
            mode1.classList.add('hover:opacity-70')
        }
    })
    trending.forEach(el => {
        el.addEventListener('click', () => {
            trending.forEach(e => {
                e.classList.remove('bg-orange-400', 'text-black', 'hover:opacity-70')
                e.classList.add('bg-slate-50/10', 'text-white')
            })
            el.classList.add('bg-orange-400', 'text-black', 'hover:opacity-70')
            el.classList.remove('bg-slate-50/10', 'text-white')
        })
    })
</script>
<!-- </div>
</body>

</html> -->